html, body {
  width: auto;
  overflow: hidden;
}
button{
	margin: 3px 15px;
	background-color: #000;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}